<!DOCTYPE html>
<html>
  <head>
    <title>Secret Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.first_name %></h1>
    <a href="/sign-out">SIGN OUT</a>
    <% } else { %>
    <h1>How did you get here?</h1>

    <%}%>
  </body>
</html>
