<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to <%= title %></h1>
      <div class="button-row">
        <div class="button-container">
          <a class="button" href="/sign-up">Sign Up</a>
        </div>
        <div class="button-container">
          <a class="button" href="/sign-in">Sign In</a>
        </div>
      </div>
    </div>
  </body>
</html>
