<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <a href="/sign-up">Sign Up</a>
    <a href="/sign-in">Sign In</a>
  </body>
</html>
