<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secret Messager</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="home">
      <div class="container">
        <h1>
          Welcome to <br />
          Secret <br />
          Messager
        </h1>
        <div class="button-row">
          <div class="button-container">
            <a class="button" href="/sign-up">Sign Up</a>
          </div>
          <div class="button-container">
            <a class="button" href="/sign-in">Sign In</a>
          </div>
        </div>
      </div>
      <div class="empty">
        Shhhhhhhhh <br />
        Dont tell anyone
      </div>
    </div>
  </body>
</html>
