<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Message Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="sign-up">
      <h1>Message Form</h1>

      <form action="/message-form" method="POST">
        <div class="form-line">
          <label for="title">Title</label>
          <input
            name="title"
            placeholder="Max 50 characters"
            maxlength="50"
            type="text"
          />
        </div>
        <div class="form-line">
          <label for="message">Message</label>
          <input
            name="message"
            placeholder="Max 500 characters"
            maxlength="50"
            type="text"
          />
        </div>
        <div class="form-line"><button>Send Message</button></div>
      </form>
    </div>
  </body>
</html>
<div class="form-line"></div>
