<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="sign-up">
      <h1>Please sign up</h1>

      <form action="/sign-up" method="POST">
        <div class="form-line">
          <label for="email">Email</label>
          <input name="email" type="email" />
        </div>
        <div class="form-line">
          <label for="first_name">First Name</label>
          <input name="first_name" type="text" />
        </div>
        <div class="form-line">
          <label for="last_name">Last Name</label>
          <input name="last_name" type="text" />
        </div>

        <div class="form-line">
          <label for="password">Password</label>
          <input name="password" type="password" />
        </div>
        <div class="form-line">
          <label for="confirm-password">Confirm Password</label>
          <input name="confirm-password" type="password" />
        </div>
        <div class="form-line"><button class="button">Sign Up</button></div>
      </form>
      <div class="weird">YOU WON'T REGRET IT</div>
    </div>
  </body>
</html>
