* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: #cbd4e7;
}
.message-board-container {
  background-color: white;
}
.nav {
  padding: 20px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5%;
}

.nav h1 {
  text-transform: uppercase;
  width: fit-content;
}

.container h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.sign-out {
  height: fit-content;
}

.home {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.button-row {
  display: flex;
}
.button-row .button {
  margin-right: 30px;
}
.empty {
  position: absolute;
  font-size: 5rem;
  top: 500px;
  right: 30px;
  transform: rotate(309deg);
}
.form-line {
  margin-bottom: 20px;
}

.form-line input {
  display: block;
  padding: 0;
}

.button,
.button-container {
  width: fit-content;
}

.button {
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  color: black;
  font-size: 1rem;
  padding: 10px 15px;
  display: block;
  border: none;
}

.sign-up {
  position: relative;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 grey;
  margin: auto;
}
.sign-up form {
  width: fit-content;
  display: inline-block;
}
.weird {
  position: absolute;
  transform: rotate(71deg);
  right: -387px;
  top: 453px;
  font-size: 5rem;
  display: inline-block;
}
.top-row {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-bottom: 10px;
}

.to-message-form,
.sign-out {
  width: fit-content;
  text-decoration: none;
  color: black;
}

.message-board-container {
  box-shadow: 14px 15px 20px 1px #80808057;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: auto;
}

.message-container {
  position: relative;
  padding: 10px;
  box-shadow: 0 0 3px 0 grey;
  margin-bottom: 15px;
  border-radius: 4px;
}

.title {
  font-size: 20px;
}
.message-message {
  font-size: 14px;
  padding-top: 10px;
}

.time-stamp {
  padding-top: 15px;
}

.admin-radio {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.delete-button {
  position: absolute;
  width: fit-content;
  right: 0;
  top: 0;
  padding: 5px 5px 0 0;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  .home {
    align-items: flex-start;
  }
  .container {
    width: auto;
    margin-top: 100px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .empty {
    font-size: 2rem;
  }
  .message-board-container {
    width: 100%;
  }
  .nav {
    width: 100%;
    margin-bottom: 0;
  }
  .top-row {
    justify-content: flex-start;
  }
  .sign-up {
    width: auto;
    box-shadow: none;
    border-radius: 0;
  }
  .weird {
    transform: rotate(90deg);
    right: -219px;
    top: 295px;
  }
}
